{% extends 'base.html' %}
{% block content %}


<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">첨부 파일</th>
        <th scope="col">source</th>
        <th scope="col">엑셀 변환(세방용)</th>
        
      </tr>
    </thead>
    {% for data in datas %}
    {% ifchanged data.uploaded_at|date:"Y m d" %}
    <tbody>
        <tr>
            <td style="font-weight: bold;">{{data.uploaded_at|date:"Y m d"}}</td>
        </tr>
    </tbody>
    {% endifchanged %}
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>{{data.excel_file}}</td>
        <td>{{data.source}}</td>
        <td><a href="{% url 'excel_convert_to_sebang' data.id %}">아이콘</a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>


{% endblock %}


{% block script %}
<script>
    document.querySelectorAll('.nav-link')[3].classList.add('active')
</script>
{% endblock %}